body {
  display: flex;
  height: 100vh;
  font-family: "Lato", sans-serif;
  flex-direction: column;
  background: #a770ef; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #fdb99b,
    #cf8bf3,
    #a770ef
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #fdb99b,
    #cf8bf3,
    #a770ef
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 3rem;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.my-btn {
  text-align: center;
  border: none;
  text-decoration: none;
  color: #fff;
  background-color: #1f7ce6;
  font-size: 32px;
}

#thing-to-do {
  width: 30%;
  text-align: center;
}

#to-do-list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 0%;
    padding-top: 20px;
    width: 20%;
}

.to-do-item {
  text-align: center;
  background: #ffffff;
  margin-bottom: 20px;
  padding: 10px;
  list-style-type: none;
  width: 100%;
  margin: 20px auto;
}
