html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  background: #a770ef; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #fdb99b,
    #cf8bf3,
    #a770ef
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #fdb99b,
    #cf8bf3,
    #a770ef
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 3rem;
}

form {
  margin: 0 auto;
  text-align: center;
}

.fa-plus-circle {
  color: #fff;
}

.fa-minus-square {
  color: #dc3545;
}

.fa-minus-square:hover {
  color: #ff0019
}

.fa-check-circle {
  padding-left: 10px;
  color: #28a745;
}

.fa-check-circle:hover {
  color: #00b92b
}

#thing-to-do {
  width: 40%;
  height: 30px;
  text-align: center;
  margin-right: 5px;
}

#to-do-list {
  margin: 0 auto;
  padding-left: 0%;
  padding-top: 20px;
}

.to-do-item {
  background: #ffffff;
  padding: 15px;
  width: 30%;
  list-style-type: none;
  margin: 20px auto;
  word-wrap: break-word;
}

.to-do-item-checked {
  text-decoration: line-through;
}

.item-tool {
  float: right;
  margin: 0 auto;
}
